@import "tailwindcss";

form {
  min-width: 300px;
}
.img-container {
  min-width: 250px;
}
input {
  transition: all ease-in-out 0.5s;
  border: 1px transparent solid;
}
input:hover {
  transform: translateY(-4px) scale(0.999);
  background-color: rgb(63, 62, 62);
  color: white;
}
input:focus {
  border-color: gray;
}
.spinner {
  right: 1rem;
}
.main-page {
  background-image: url("https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.home {
  background-color: rgba(0, 0, 0, 0.944);
}

header {
  color: gainsboro;
}
li {
  min-width: 50px;
}
button,
.imp {
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 1px solid orangered;
  border-radius: 2px;
  position: relative;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); */
  color: rgba(255, 68, 0, 0.822);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

button:before,
.imp::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: black;
  z-index: -1;
}

button:hover,
button:focus,
.imp:hover {
  color: white;
}

button:hover:before,
button:focus:before,
.imp:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}
.car:hover .btn {
  visibility: visible;
}
.btn {
  visibility: hidden;
}
.car-img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.car:hover .car-img {
  transform: translateY(-10px) scale(0.95); /* Move up and shrink */
  opacity: 0.9; /* Optional fade effect */
}
.grid {
  z-index: -1;
}
.card {
  transition: all ease-in-out 0.6s;
  box-shadow: 0 0 5px gray;
}
.card:hover {
  background-color: rgba(6, 6, 6, 0.753);
  color: white;
  transform: scale(1.07);
}
.list {
  color: gray;
}
.card:hover .list {
  color: white;
}
.content {
  border: 1px transparent solid;
  box-shadow: 0 0 3px gray;
}
.content:hover {
  box-shadow: 0 0 3px gray, 0 0 6px gray, 0 0 20px gray;
}
.contact {
  background-color: rgb(29, 28, 28);
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

nav a:hover {
  color: #4a90e2;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #4a90e2;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}
